:root {
    --light-color: rgba(224, 224, 240, 0.7);
    --lighter-color: rgba(224, 224, 240, 0.5);
    --dark-color: rgba(32, 32, 48, 0.5);
    --darker-color: rgba(32, 32, 48, 0.7);
}
.light-schema {
    background-color: var(--light-color);
    color: var(--dark-color);
}
.dark-schema {
    background-color: var(--dark-color);
    color: var(--light-color);
}
.lighter-schema {
    background-color: var(--lighter-color);
    color: var(--darker-color);
}
.darker-schema {
    background-color: var(--darker-color);
    color: var(--lighter-color);
}
.light-bg {
    background-color: var(--light-color);
}
.lighter-bg {
    background-color: var(--lighter-color);
}
.dark-bg {
    background-color: var(--dark-color);
}
.darker-bg {
    background-color: var(--darker-color);
}
.light-color {
    color: var(--light-color);
}
.lighter-color {
    color: var(--lighter-color);
}
.dark-color {
    color: var(--dark-color);
}
.darker-color {
    color: var(--darker-color);
}
header {
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 10px 0 rgba(128, 128, 144, 0.5);
}
.color-schema-switch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}
.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 40px;
    height: 25px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
    content: "";
}
.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: #444;
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 20px;
}
.tenzies {
    padding: 1rem;
    text-align: center;
}
.tenzies h2 {
    margin-top: 0;
}
.tenzies-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.tenzy {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(128, 128, 144, 0.5);
    cursor: pointer;
}
.tenzy.freezed {
    background-color: #59e391;
    color: #446;
}
.roll-button, .reset-button {
    margin: 1rem .5rem;
    padding: .5rem 2rem;
    font-size: 1.5rem;
    border-width: 0;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
